body {
    color: black;
    background-color: #4F8BF9;
}
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div:nth-child(4) > div > label{
color:black;
}
color:green;
}
.stButton>button {
    color: #4F8BF9;
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: green;
    text
}

